{{ partial "header.html" . }}
<BLOCKQUOTE>
{{ with .Site.Params.welcomeText }}
{{ . | safeHTML }}
{{ else }}
<P>Welcome to the {{ .Site.Title }} website!</P>
{{ end }}
</BLOCKQUOTE>

<HR NOSHADE>

{{ $events := where (where .Site.RegularPages "Section" "events") ".Date" ">=" now }}
{{ if $events }}
<H2>Upcoming Events</H2>

<UL>
{{ range $events }}
<LI><A HREF="{{ .RelPermalink }}"><B>{{ .Title }}</B></A> - <I>{{ .Date.Format "January 2, 2006" }}, {{ .Date.Format "3:04 PM" }}</I>
{{ with .Params.location }}<BR><FONT SIZE="2">{{ . }}</FONT>{{ end }}
{{ end }}
</UL>

<HR NOSHADE>
{{ end }}

{{ partial "footer.html" . }}
